@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
  background-color: white !important;
  color: #2485b0 !important;
}
.videoModal .ant-modal-content {
  background-color: unset !important;
  box-shadow: unset !important;
}
